<h1 class="my-4">Ranking das Equipes</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Team</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% scores.forEach(score => { %>
      <tr>
        <td><%= score.team %></td>
        <td><%= score.score %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<a href="/forms" class="btn btn-primary">Add new score</a>